<h1>Sound Dashboard</h1>
<h2>Rooms</h2>

<% @rooms.each do |room| %>
<ul>
  <li>
    <%= room.name %>
    <%= link_to 'Show', admin_room_path(room) %>
    <%= link_to 'Edit', edit_admin_room_path(room) %>
    <%= link_to 'Delete', admin_room_path(room), method: :delete %>
  </li>
</ul>
<% end %>

<%= link_to 'New', new_admin_room_path(@room) %>
