<h1>Sound Dashboard</h1>
<h2>Rooms</h2>

<ul>
  <% rooms.each do |room| %>
    <li>
      <%= room.name %>
      <%= link_to 'Show', admin_room_path(room) %>
      <%= link_to 'Edit', edit_admin_room_path(room) %>
      <%= link_to 'Delete', admin_room_path(room), method: :delete %>
    </li>
  <% end %>
</ul>

<%= link_to 'New room', new_admin_room_path(room) %>
<%= link_to 'Admins', admins_path %>
