<h1>Room</h1>
<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<%= render @room.recorders %>

<h2>Add recorders</h2>
<%= render 'admin/recorders/form' %>

<%= link_to 'Edit', edit_admin_room_path %>
<%= link_to 'Back', admin_rooms_path %>
