<% rooms.each do |room| %>
  <script>
    $(function () {
      $("#<%= room.id %>").highcharts({
        chart: {
          type: 'spline'
        },

        title: {
          text: "<%= room.name %>"
        },

        xAxis: {
          type: 'datetime',
          labels: {
            overflow: 'justify'
          }
        },

        yAxis: {
          title: {
            text: 'decibels'
          },
        },

        tooltip: {
          valueSuffix: ' dB'
        },

        plotOptions: {
          spline: {
            lineWidth: 4,
            states: {
              hover: {
                lineWidth: 5
              }
            },

            marker: {
              enabled: false
            },

            pointInterval: 300000, // five minutes
            pointStart: Date.UTC(2016, 8, 5, 8, 0, 0)
          }
        },

        series: [{
          name: "<%= room.name %>",
          data: <%= room.measures_per_days_chart(date) %>
      }],

        navigation: {
          menuItemStyle: {
            fontSize: '10px'
          }
        }
      });
    });
  </script>

  <div id="<%= room.id %>"></div>
<% end %>

