<% @rooms.each do |room| %>
  <script>
    let randomData = function() {
      let dimension_x = <%= room.dimension_x %>
      let dimension_y = <%= room.dimension_y %>
      let result = []

      for (let x = 0; x <= dimension_x; x++)
        for (let y = 0; y <= dimension_y; y++)
          result.push([x, y, Math.round(Math.random() * 10)])
      return result
    }
  </script>

  <script>
    $(function () {
      $("#h<%= room.id %>").highcharts({
        chart: {
          type: 'heatmap',
          marginTop: 40,
          marginBottom: 80,
          plotBorderWidth: 1

        },

        title: {
      text: "<%= room.name %>"

    },

    xAxis: {
      categories: [1, 2, 3, 4, 5, 6]

    },

    yAxis: {
      categories: [1, 2, 3, 4],
      title: null

    },

    colorAxis: {
      min: 0,
      minColor: '#FFFFFF',
      maxColor: Highcharts.getOptions().colors[0]

    },

    legend: {
      align: 'right',
      layout: 'vertical',
      margin: 0,
      verticalAlign: 'top',
      y: 25,
      symbolHeight: 280

    },

    tooltip: {
      formatter: function () {
        return '<b>' + this.series.xAxis.categories[this.point.x] + '</b>x<b>' + this.series.yAxis.categories[this.point.y] + '</b>: <b>' + this.point.value + '</b><br>'

      }

    },

    series: [{
      name: "#<%= room.name %>",
      borderWidth: 1,
      data: randomData(),
      dataLabels: {
        enabled: true,
        color: '#000000'

      }

    }]

  });

});
  </script>

  <div id="h<%= room.id %>"></div>
<% end %>
