<h1>Sound Dashboard</h1>

<% @rooms.each do |room| %>
  <h2><%= room.name %></h2>
  <% room.recorders.each do |recorder| %>
    <h3><%= recorder.name %></h3>
    <% recorder.measurements.each do |measurement| %>
      <p><strong><%= measurement.measure %></strong> at <%= measurement.time %></p>
    <% end %>
  <% end %>
<% end %>

<%= link_to 'Enter', admin_rooms_path %>
